body, html{
    margin: 0vh;  
}

img{
    padding: 30px;
    width: 50px;
    height:50px;
    align-items: center;
    bottom: 10px;
}

.contenedor {
    height: 100px;
    background-color: #FFF;
    box-shadow: 0 1px 5px #000;
    display: flex;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
}
.contenedor a {
    text-decoration: none;
    color: #000;
}
.esconder {
    display: none;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;

}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

div.cancion{
    width: 100%;
    height: 100%;
    position: relative;
    left: 40%;
}

@keyframes text{
    0% {text-position: 0%}
    100% {text-position: 100%}   
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.sidebar{
   position: fixed;
   width: 22%;
   height: 100%;
   background: #042331;
   
}

.sidebar header{
    font-size: 100spx;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
    align-items: center;
}

a{
    text-align: left;
    text-size-adjust: 30% ;
}

.sidebar ul a{
    display: block;
    height: 30%;
    width: 100%;
    align-items: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 60px;
    bottom: 40px;
}

.sidebar ul a i{
    margin-right: 0px;
    width: 30px;
    height: 40px;
}

#check{
    display: none;

}


menu {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 60px;
      background-color: #042331;
      box-shadow: 0 1px 5px #000;
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0%;
      right: 0;
      margin-top: 0;
      margin: 0px;
      justify-content: space-around;
      align-items: center;
    
  }
  menu a {
      text-decoration: none;
      color: rgb(205, 4, 255) !important;
      
  }

  menu:hover{
    padding-bottom: 5px; 
    
  }

  menu li i{
    width: 0.5 px;
    left: 0px;
    top: 0px;
    font-size: 35px;
    color: rgb(249, 248, 250);
    border-radius: 3px;
    padding: 0;
    transition: all .5s;
    margin: 1px;
  }
 
 
  