body, html{
    margin: 0vh;
   /* height: 0vh;
    padding: 0vh;*/  
    
}

img{
    padding: 20px;
    width: 50px;
    height:50px;
    align-items: center;
    bottom: 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;

}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}


*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.sidebar{
   position: fixed;
   left: -250px;
   width: 250px;
   height: 100%;
   background: #042331;
   transition: all .5s ease;
   z-index: 999;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
    align-items: center;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 60px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;

}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    border-radius: 3px;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250;
    opacity: 0;
    pointer-events: none;

}
#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ section{
    margin-left: 250px;
}

section{
    height: 100vh;
    transition: all .5s;
}


menu {
      padding: 0;
      margin: 0;
      height: 60px;
      background-color: #042331;
      box-shadow: 0 1px 5px #000;
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 0;
      margin: 5px;
      justify-content: space-around;
      align-items: center;
  }
  menu a {
      text-decoration: none;
      color: rgb(205, 4, 255) !important;
      
  }

  footer{
    height: 10px;
    display: flex;
    margin: 0px;
    justify-content: center;
    font-size: 5px;
      z-index: 99;
      position: fixed;
      left: -250px;
      width: 250px;
      height: 25px;
      background: #042331;
      transition: all 1.5s ease;

      
   
    
  }

  menu:hover{
    padding-bottom: 5px; 
    
  }



  menu li i{
    width: 0.5 px;
    left: 5px;
    top: 5px;
    font-size: 35px;
    color: rgb(122, 0, 153);
    border-radius: 3px;
    padding: 0;
    transition: all .5s;
    margin: 1px;
  }
 
 
  .caja{
      color: #0a5275;
    width:0;
     height:0;
     border-right: 25px solid;
     border-top: 25px solid;
     border-left: 25px solid;
     border-bottom: 25px solid;
     border-radius: 100%;
    transition: all 1s;
}


.caja:hover{
    transform: rotate(1080deg) scale(1.5);
}

.cuadro{
     width: 50px; 
     height: 50px; 
     border: 3px solid #555;
     background: #428bca;
   
}